<div class="jumbotron">
  <h1 class="center">Creating since '94</h1>
  <p>I am a student at Florida State University studying Information, Communication and Technology.
     My interests include technology, development, entrepreneurship, writing, video production, reading, and gaming.
      I am currently a part of a student organization named TechNole, a tech zone at FSU and the host of our annual hackathon, HackFSU.
       Please feel free to contact me if you have any interest in working together.</p>

</div>
