<div class="container jumbotron"  >
<div class="center">
<h1>Ryan Tucker</h1>
<img src="https://avatars.githubusercontent.com/u/6545830?v=3" alt="Ryan Tucker" class="img-circle" height="250px" width="250px">
<h3>Aspiring Developer, Writer, and Video Creator</h3>
<h4>Student at Florida State University</h4>
<a href="https://github.com/ryantucker0">
  <%= image_tag("/assets/github-64-black.png") %>
   </a>
   <a href="https://twitter.com/ryantucker0">
     <%= image_tag("/assets/twitter-64-black.png") %>
      </a>
      <!-- YOUTUBE
      <a href="">
        <%= image_tag("/assets/youtube-64-black.png") %>
         </a>
       -->
       <!-- LINKEDIN
       <a href="">
         <%= image_tag("/assets/linkedin-64-black.png") %>
          </a>
        -->
</div>
</div>
