<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <p class="navbar-text"<li><%= link_to "Ryan Tucker", root_path %></li></p>
    <p class="navbar-text"<li><%= link_to "About Me", about_path %></li> </p>
    <p class="navbar-text" <li><a href="http://ryantucker0.github.io" class="navbar-link" target="_blank">Blog</a></li></p>
  </div>
</nav>
