<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><%= link_to "Home", root_path %></li>
      <li role="presentation"><%= link_to "About Me", about_path %></li>
      <!--<li role="presentation"><%= link_to "Projects", projects_path %></li>-->
    </ul>
  </div>
</nav>
